@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');



:root {
    --box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;

    
    font-family: 'Courgette', cursive;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    position: absolute;
    top: 70px;

    background-color:white;
    width: 50%;
    padding: 50px;
    
}

.balance-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    width: 50%;

    padding-bottom: 20px;
    margin: 0;

}
.inc-exp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    width: 50%;
    
    position: relative;
    left: 25%;

    padding: 5px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);


}

.money{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color:white;
    width: 60%;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
}

.form-control{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}


.list li:hover .delete-btn{
    opacity:1;
}

.list{
    background-color: #fff;
    width: 90%;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 20px;

}

.list li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    padding: 5px;
    box-shadow: var(--box-shadow);
    border-radius: 3px;
    margin: 5px 0;
    color: #333333;

    cursor: pointer;
    position: relative;


}

.list li.minus{
    border-right: 5px solid red;
}

.list li.plus{
    border-right: 5px solid rgb(110, 240, 110);
}

.delete-btn{
    background-color: hsl(63, 93%, 64%);
    padding: 5px;
    border: transparent;
    border-radius: 1px;

    position: absolute;
    top: 0;
    left: 100%;

    transition: opacity 0.3s ease;

    opacity: 0;
    cursor: pointer;
    
}

.btn:focus,delete-btn:focus{
    outline: 0;
}
input[type='text']{
 
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #dedede;
    margin: 5px;

}
input[type='number']{

    padding: 5px;
    border-radius: 3px;
    border: 1px solid #dedede;
    margin: 5px;
   
}
.btn{
    background-color: rgb(110, 240, 110);
  

    padding: 5px;
    border-radius: 3px;
    border-color: transparent;
    box-shadow: var(--box-shadow);
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
h3{
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid gainsboro;
}
.money.plus{
    color:rgb(110, 240, 110);
}
.money.minus{
    color: red;
}
.inc-exp-container >div:first-of-type{
    border-right: 1px solid rgba(0,0,0,0.24);

}

@media only screen and (max-width: 730px) {
    h4{
        font-size: 10px;
    }
    .money{
        font-size: 10px;
    }

    .container{
        width: 80%;
        padding: 20px;  
    }

    
}